body
{
	background-image:url("blue-and-black-wallpapers-9.jpg");
	background-size:cover;
}
.tablinks {
 	display:inline-block;
    background-color:rgb(0, 0,0, 0.5);
 
    margin-bottom:10px;
	margin-bottom:10px;
    color:white;
    margin-left:10px;
	
	box-shadow: 0 5px 10px 0px rgb(0, 170,170);
    padding: 50px 50px;
    
    width:170px;
    border-left: none;
    
  border-radius: 14px;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
}

.tablinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.tablinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.tablinks:hover span {
  padding-right: 25px;
}

.tablinks:hover span:after {
  opacity: 1;
  right: 0;
}
.tab
{
	
	height:1000px;
	margin-top:-1010px;
	width:250px;
}

.tablinks button.active {
    background-color: #ccc;
}
.page1
{
	background-color:rgba(12, 10, 1, 0.8);
	
	float:center;
	margin-left:290px;
	margin-top:10px;
	width:1500px;
	height:1000px;
}
.i1
{
	opacity:0;
    width: 180px;
    height: 130px;
}
#hd
{
	
	
        background-position: center;
	display:block;
	
	
	color:#66FCF1;
}
#fd
{
	
        background-position: center;
	display:block;
 	top-margin:-300px;
	
	color:#66FCF1;
}
#name
{
	padding-left:100px;
}

